<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Admin Page</title>

    <style>
        #user {
            margin-top: 20px;
        }
        .btn {
          width: 100%;
        }
    </style>

  </head>
  <body>

    <section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="#">ADMINISTRATION</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'admin' %}">User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'adduser' %}">Add User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Activity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>

    <section id="user">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md">

                    <h3>Log Activity</h3>

                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Employee</th>
                            <th scope="col">Activity</th>
                            <th scope="col">Date</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for log in log %}
                                <td>{{log.user}}</td>
                                <td>{{log.activity}}</td>
                                <td>{{log.date}}</td>
                              </tr>
                              {% endfor %}
                        </tbody>
                      </table>

                </div>
            </div>
        </div>
    </section>

    

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>